@charset "UTF-8";
/*
Theme Name: zoomInfo
Theme URI: https://github.com/WordPress/zoomInfo
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. Twenty Nineteen is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: WordPress 4.9.6
Version: 1.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: zoomInfo
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Twenty Nineteen is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

body {
    margin: unset;
}

.top-logo {
    margin-top: 20px;
    margin-bottom: 11px;
}

.top-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background: url("images/back-image.png") no-repeat ;
    width: 100%;
    height: 747px;
    background-size: contain;
}

.filling-box {
    width: 714px;
    height: 517px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 9%;
    margin-top: 5%;
    display: inline-block;
}

@media (max-width: 768px) {
    .filling-box {
        width: 357px;
        height: 258px;
    }

    .box-title {
        width: 281px;
        height: 48px;
        font-size: 20px;
        margin: 20px 38px;
    }

    input, select {
        width: 281px;
        height: 37.5px;
        margin: 6.5px 43px;
    }

    .submit {
        width: 148px !important;
        height: 33px !important;
    }
}

input, select{
    width: 542px;
    height: 63px;
    border: solid 1.2px #ced5da;
    background-color: #ffffff;
    margin: 8px 86px;
    font-family: "Open Sans", sans-serif;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0e2b42;
}

select {
    text-indent: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url(images/arrow-ink-blue@2x.png) white no-repeat 94.5% !important;
}
/*For IE*/
select::-ms-expand { display: none; }

select:disabled {
    color: graytext;
}

.box-title {
    width: 562px;
    height: 116px;
    font-family:'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0e2b42;
    margin: 25px 77px;
}

input::placeholder {
    color: #0e2b42;
    width: 320.2px;
    height: 29px;
    padding-left: 25px;
}

.submit {
    background: url(images/submit-button.png);
    width: 295px !important;
    height: 58px !important;
    margin: 15px auto 37px !important;
    display: block;
}

.customers-rating-block {
    width: auto;
    height: 59px;
    border: solid 1px #ced5da;
    margin-top: 39px;
}

.customers {
    float: left;
    margin: 18px 0 0 134px;
}

.customers img {
    width: auto;
    height: 19px;
    margin-left: 19px;
}

.rating {
    float: right;
    margin: 18px 156px 0 0;
    display: flex;
    align-items: center;
}

.rating img {
    width: 139px;
    height: 24px;
    margin-right: 25px;
}

.rating span {
    width: 238px;
    height: 22px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #66686a;
}

.info-block {
    float: left;
    margin:107px 0 95px 23%;
}

.info-block .box {
    float: left;
    width: 323px;
    margin-right: 85px;
}

.info-block .box  img,h3{
    display: block;
    margin: 0 auto;
}

.box .bitmap1, .bitmap2, .bitmap3 {
    margin-bottom: 12px;
}

.box .bitmap1 {
    width: 77px;
    height: 62px;
}

.box .bitmap2 {
    width: 77px;
    height: 68px;
}

.box .bitmap3 {
    width: 62px;
    height: 64px;
}

.info-block .box .title {
    width: 115px;
    height: 39px;
    font-family:'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 19px;
}

.info-block .box .description {
    width: 340px;
    height: 53px;
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgba(14, 43, 66, 0.8);
    display: block;
    margin: 0 auto;
}

.footer img{
    height: 59px;
    max-width: 100%;
}