@import url(font-awesome.min.css);

.top_section {
  background-color: rgba(183,215,241,0.15);
  height: 350px;
}

.top_section .top_section_container {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.top_section .top_section_container .header {
  font-family: "Klinic Slab", sans-serif;
  color: #3f7d95;
  font-size: 50px;
  font-weight: lighter;
}

span, ul {
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
   display: block;
  }

  .freeTrial_pop_up {
    font-family: "Open Sans", sans-serif;
    background-color: #eb6936;
    border-color: #eb6936;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    margin: 30px auto;

  }

  .section_margin {
    margin: 0 30%;
  }

  h2 {
    font-family: "Klinic Slab", sans-serif;
    color: #3f7d95;
    font-size: 30px;
    font-weight: lighter;
    margin: 70px 60px;
  }

  .descriptions {
    width: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
  }

  .switching_tabs {
    float: right;
    width: 25%;
    display: inline-block;
    height: 100%;
  }

  .switching_tabs a div {
    height: 33.33333%;
    background-color: #e2dfdf;
    text-align: center;
    margin-top: 1px;
  }

  .switching_tabs a:nth-child(1) div{
    background-color: #3f7d95;
    color: #ffffff;
    margin-top: unset;
  }

  .Marketing.descriptions {
    display: inline-block;
  }

  .Operations.descriptions, .Sales.descriptions {
    display: none;
  }

h3 {
  font-family: "Klinic Slab", sans-serif;
  color: #eb6936;
  font-size: 52px;
  font-weight: lighter;
  margin: 30px 40px;
}

.organization_section {
  height: 450px;
  border: 0 solid;
  box-shadow: 0 0 6px 2px #fceeeea8;
}

.Marketing_image_after_click {
  display: inline-block;
}

.Operations_image_after_click, .Sales_image_after_click, .Marketing_image  {
  display: none;
}

.switching_tabs a div img {
  margin-top: 18%;
}

ul.text-list {
  margin: 0 18px;
}

ul li {
  color: #eb6936;
}

ul li span {
  color: #000000;
}

a {
  cursor: pointer;
}

.video_sectio_container { 
  text-align: center;
}

.video_iframe {
  width: 600;
  height: 400;

}

.data_container h2 {
  text-align: center;
}

.data_container img {
  width: 16%;
  vertical-align: middle;
  margin-right: 30px;
}

.final_section {
  height: 350px;
  background-color: #3f7d95;
}

.final_section_conrtainer {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.final_section_conrtainer h2 {
  color: #ffffff;
}

.freeTrial_popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  background-color: transparent;
  z-index: 400;
  align-items: center;
  display: none;
}

.freeTrial_popUp #sign_up_form {
  max-width: 440px;
  width: 90%;
  padding: 20px 0;
  margin: 50px auto 0;
  background-color: white;
  box-shadow: 0 3px 81px rgba(0,0,0,0.35);
}

.freeTrial_popUp #sign_up_form > input {
  background-color: #e6e6e5 !important;
  display: block;
  width: 90%;
  margin: 20px auto;
}

#sign_up_form > input, #sign_up_form select {
  padding: 0 15px;
  background-color: #fff;
  height: 37px;
  display: inline-block;
  border: 0;
  outline: 0;
  color: black;
  border-radius: 6px;
  width: 70%;
  margin: 10px 2%;
  font-size: 14px;
}

.freeTrial_popUp #sign_up_form input[type=submit] {
  border-radius: 4px;
  border: 0;
  height: 65px;
  font-weight: 400;
  margin: 20px auto;
  background-color: #4faddf !important;
  color: #fff;
}

.freeTrial_popUp #sign_up_form input[type=submit]:hover {
  background-color: #65b7e3 !important;
}

.gdpr-checkbox-p {
  width: 90% !important;
  font-size: 12px;
  font-weight: normal;
}

.label-check {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  max-width: 770px;
  width: 90%;
  font-size: 12px;
  text-align: left;
  color: white;
  margin-top: 30px;
  cursor: default;
}

.label-check, .gdpr-checkbox-p {
  margin-left: 20px;
  color: #6e6e6e !important;
  font-family: 'Open sans',sans-serif;
}

p {
  margin: 10px 0;
}

.label-check span{
  font-size: 12px;
  line-height: unset;
}

.gdpr-textbox {
  margin: 0px 5px 25px 0px;
  width: 15px;
  height: 15px;
  vertical-align: unset;
  display: inline;
  cursor: pointer;
  float: left;
}

.exit {
  text-align: center;
    font-size: 18px;
}